{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<form method="POST" enctype="multipart/form-data">

  <div class="container">
    <!-- Main Content Row -->
    <div class="row">
      <!-- Left Column: Main Content -->
      <div class="col-md-8">
        <!-- Configuration Selection Row -->
        <div class="row mb-3 align-items-center">
          <label class="col-sm-4 col-form-label" for="select-config">Configuration:</label>
          <div class="col-sm-8">
            <select class="form-control" id="select-config" name="select-config" onchange="this.form.submit()">
              <option selected="selected">{{config}}</option>
              {% for ii in list_of_configs %}
                {% if ii != config %}
                  <option>{{ii}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Sub-configuration Selection Row (only if available) -->
        {% if list_of_subconfigs %}
        <div class="row mb-3 align-items-center">
          <label class="col-sm-4 col-form-label" for="select-subconfig">Sub-configuration:</label>
          <div class="col-sm-8">
            <select class="form-control" id="select-subconfig" name="select-subconfig" onchange="this.form.submit()">
              <option selected="selected">{{subconfig}}</option>
              {% for ii in list_of_subconfigs %}
                {% if ii != subconfig %}
                  <option>{{ii}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        {% endif %}

        <!-- Description Section -->
        <div class="row mb-3">
          <div class="col-sm-12">
            <p>{{description}}</p>
          </div>
        </div>

        <!-- Option Buttons -->
        {% for sheet in output_config_dict.keys() %}
          {% if output_config_dict[sheet]['Required CSV'] == False %}
          <!-- Option to add extensions that aren't required -->
            <button class="btn btn-outline-success btn-sm" type="submit" name="submitbutton" value="add_{{sheet}}">
              Add {{sheet}}
            </button>
          {% endif %}
        {% endfor %}
      </div>

      <!-- Right Column: Video -->
      <div class="col-md-4">
        {% if config == 'Darwin Core' %}
        <iframe
          class="embed-responsive-item"
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/DbvlwnYXuPU?si=QytJnPSjNSt1Q_ax"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
        {% elif config == 'CF-NetCDF' %}
        <iframe
          class="embed-responsive-item"
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/d_5v7riMiDY?si=nF3PjQTYUHb4XfS9"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
        {% endif %}
      </div>
    </div>
  </div>

  {% if config == 'Darwin Core' %}
  <div class="alert alert-info" role="alert">
    We try to keep the requirements and recommendations below compliant with those of the
    <a href="https://manual.obis.org/darwin_core.html#darwin-core-dwc-terms">Ocean Biodiversity Information System</a>.
    If you notice any discrepencies, please let us know.
  </div>
  {% endif %}

  <hr class="bg-dark">
  {% for sheet in output_config_dict.keys() %}

    {% if output_config_dict[sheet]['Required CSV'] == True %}
      {% if sheet != 'Data' %}
        <br><h3>Sheet: {{sheet}}</h3>
      {% endif %}

      {% if sheets_descriptions[sheet] %}
        {{sheets_descriptions[sheet]}} <br>
      {% endif %}

      {% if 'Source' in output_config_dict[sheet].keys() %}
        <a href="{{output_config_dict[sheet]['Source']}}">{{output_config_dict[sheet]['Source']}}</a><br>
      {% endif %}
      <br>

      {% if sheet not in compulsary_sheets %}
        <button class="btn btn-outline-danger btn-sm" type="submit" name="submitbutton" value="remove_{{sheet}}">Remove {{sheet}}</button><br><br>
      {% endif %}

      <div class="form-row">
        <!--Configuration required/recommended fields-->
        {% for col, fields in output_config_dict[sheet].items() %}
          {% if col not in ['Required CSV', 'Source'] %}

            {% if col == 'Coordinate variables' %}
              <div class="col-md-6">
                <h4>{{col}}</h4><br>
                {% for key, field in fields.items() %}
                  <div class="row">

                    <div class="col-4">
                      <br>
                      <div class="form-check">
                        <label title='{{field["description"]}}' class="form-check-label">
                          <input
                            class="form-check-input form-control-lg"
                            type="checkbox"
                            id="{{sheet}}__{{key}}"
                            name="{{sheet}}__{{key}}"
                            {% if col == 'Required' or 'checked' in field.keys() %}
                            checked
                            {% endif %}
                            >
                          {{field['disp_name']}}
                        </label>
                      </div>
                    </div>

                    <div class="col-6">
                      <label
                        title='For use when a data point does not represent a single point in space or time, but a cell of finite size. Use this variable to encode the extent of the cell (e.g. the minimum and maximum {{key}} that a data point is representative of).'
                        class="switch switch-yes-no"
                      >
                        <input class="switch-input" type="checkbox" id="{{sheet}}__{{key}}_bounds" name="{{sheet}}__{{key}}_bounds"/>
                        <span class="switch-label" data-on="Cells" data-off="Discrete Points"></span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>

                  </div>

                  <br>
                {% endfor %}
              </div>


            {% elif col == 'Coordinate bounds' %}


            {% else %}
              <div class="col-md-3">
                <h4>{{col}}</h4><br>

                {% if col == 'Suggested' %}
                  <button type="button" class="btn btn-outline-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                    Suggested
                  </button>
                  <div class="dropdown-menu pre-scrollable">
                    {% for key, field in fields.items() %}
                      <div class="form-check">
                        <label title='{{field["description"]}}' class="form-check-label">
                          <input
                            class="form-check-input form-control-lg"
                            type="checkbox"
                            id="{{sheet}}__{{key}}"
                            name="{{sheet}}__{{key}}"
                            {% if col == 'Required' or 'checked' in field.keys() %}
                            checked
                            {% endif %}
                            >
                          {{field['disp_name']}}
                        </label>
                      </div>
                    {% endfor %}
                  </div>

                {% else %}
                  {% for key, field in fields.items() %}
                    <div class="form-check">
                      <label title='{{field["description"]}}' class="form-check-label">
                        <input
                          class="form-check-input form-control-lg"
                          type="checkbox"
                          id="{{sheet}}__{{key}}"
                          name="{{sheet}}__{{key}}"
                          {% if col == 'Required' or 'checked' in field.keys() %}
                          checked
                          {% endif %}
                          >
                        {{field['disp_name']}}
                      </label>
                    </div>
                    <br>
                  {% endfor %}
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}

        <!--Add more fields-->
        <div class="col-md-3">

          <h4>Other</h4><br>

          <!--CF standard names-->
          <!-- Button trigger modal for fields -->
          <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#{{sheet}}_cfModal">
            Add CF standard names
          </button>

          <!-- Modal -->
          <div class="modal fade" id="{{sheet}}_cfModal" tabindex="-1" role="dialog" aria-labelledby="{{sheet}}_cfModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>CF standard names as listed <a href="https://cfconventions.org/Data/cf-standard-names/current/build/cf-standard-name-table.html">here</a></p>
                  <div class="search-box">
          					<input type="text" class="form-control" placeholder="Search...">
          				</div>
          				<div class="list-group">
                    {% for field in cf_standard_names %}
          					<label title='{{field["description"]}}' class="list-group-item dropdown-menu pre-scrollable">
          						<input type="checkbox" name='{{sheet}}__{{field["id"]}}' value="y"> {{field["id"]}}
          					</label>
                    {% endfor %}
          				</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
                </div>
              </div>
            </div>
          </div><br>

          <!--List of CF standard names that have been selected-->
          {% if added_cf_names_bool[sheet] == True %}
          {% for key, field in added_cf_names_dic[sheet].items() %}
          <div class="form-check">
            <label title='{{field["description"]}}' class="form-check-label">
              <input class="form-check-input" type="checkbox" id="{{sheet}}__{{key}}" name="{{sheet}}__{{key}}" checked>
              {{field['disp_name']}}
            </label>
          </div>
          <br>
          {% endfor %}
          {% endif %}

          <!--Darwin Core terms-->
          <!-- Button trigger modal for fields -->
          <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#{{sheet}}_dwcModal">
            {% if config == 'Darwin Core' %}
            DwC terms other extensions
            {% else %}
            Add Darwin Core terms
            {% endif %}
          </button>
          <!-- Modal -->

          <div class="modal fade" id="{{sheet}}_dwcModal" tabindex="-1" role="dialog" aria-labelledby="{{sheet}}_dwcModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add terms</button>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Darwin Core terms as listed <a href="https://raw.githubusercontent.com/tdwg/rs.tdwg.org/master/terms/terms.csv">here</a></p>

                  <div class="search-box">
          					<input type="text" class="form-control" placeholder="Search...">
          				</div>
          				<div class="list-group">
                    {% for term in dwc_terms_by_sheet[sheet] %}
          					<label title='{{term["description"]}}' class="list-group-item dropdown-menu pre-scrollable">
          						<input type="checkbox" name='{{sheet}}__{{term["id"]}}' value="y"> {{term["id"]}}
          					</label>
                    {% endfor %}
          				</div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add terms</button>
                </div>
              </div>
            </div>
          </div><br>

          <!--List of CF standard names that have been selected-->
          {% if added_dwc_terms_bool[sheet] == True %}
          {% for key, field in added_dwc_terms_dic[sheet].items() %}
          <div class="form-check">
            <label title='{{field["description"]}}' class="form-check-label">
              <input class="form-check-input" type="checkbox" id="{{sheet}}__{{key}}" name="{{sheet}}__{{key}}" checked>
              {{field['disp_name']}}
            </label>
          </div>
          <br>
          {% endfor %}
          {% endif %}

          <!-- Button trigger modal for adding more fields -->
          <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#{{sheet}}_fieldsModal">
            Add more fields
          </button>

          <!-- Modal -->
          <div class="modal fade" id="{{sheet}}_fieldsModal" tabindex="-1" role="dialog" aria-labelledby="{{sheet}}_fieldsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% for group in groups %}
                  <div class="dropdown">
                    <button type="button" class="btn btn-light btn-lg btn-block dropdown-toggle" data-toggle="dropdown">
                      {{group}}
                    </button>
                    <div class="dropdown-menu pre-scrollable">
                       {% for field, vals in extra_fields_dict.items() %}
                         {% if vals['grouping'] == group %}
                         <div class="form-check">
                           <label title='{{vals["description"]}}' class="col-sm-9 col-form-label">
                             <input class="form-check-input" type="checkbox" id='{{sheet}}__{{field}}' name='{{sheet}}__{{field}}'>
                             {{vals["disp_name"]}}
                           </label>
                         </div>
                         {% endif %}
                       {% endfor %}
                     </div>
                  </div><br>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" name="submitbutton" value="addfields">Add fields</button>
                </div>
              </div>
            </div>
          </div><br>

          <!--List of extra fields that have been added-->
          {% if added_fields_bool[sheet] == True %}
          {% for key, field in added_fields_dic[sheet].items() %}
          <div class="form-check">
            <label title='{{field["description"]}}' class="form-check-label">
              <input class="form-check-input" type="checkbox" id="{{sheet}}__{{key}}" name="{{sheet}}__{{key}}" checked>
              {{field['disp_name']}}
            </label>
          </div>
          <br>
          {% endfor %}
          {% endif %}

          {% if config == 'Darwin Core' %}
          <!--Disclaimer that only required, recommended and suggested terms can be used in DwCA-->
          <div class="alert alert-info" role="alert">
            <strong>Note:</strong> Only the <strong>Required</strong>, <strong>Recommended</strong>,
            and <strong>Suggested</strong> terms can be used in the Darwin Core Archive.

            You are, however, free to select different terms to use during data preparation if you wish.
          </div>
          {% endif %}
        </div>

      </div><hr class="bg-dark"><br>

    {% else %}
    {% endif %}
  {% endfor %}

  <br>
  <button class="btn btn-primary btn-lg btn-block" type="submit" name="submitbutton" value="generateTemplate">Generate</button>
  <br>


</form>
<br>
<br>
<div class="container mt-5">
  <h3 class="text-center mb-4">Something wrong? Want to suggest an improvement?</h3>

  <p class="text-center mb-4">
      If you have a GitHub account, the best way to do this is to raise an issue on the project's GitHub repository:
  </p>

  <div class="text-center mb-4">
      <a href="https://github.com/SIOS-Svalbard/Nansen_Legacy_template_generator/issues/new" target="_blank">
          <button class="btn btn-outline-success btn-lg px-4 py-2" style="border-radius: 30px; font-weight: 600;">
              Raise an issue on GitHub
          </button>
      </a>
  </div>

  <p class="text-center">
      If you don't have a GitHub account, please get in touch by emailing <a href="mailto:lukem@met.no">lukem@met.no</a>
  </p>
</div>

{% endblock %}
